In [82]:
#prophet 예측 분석

In [83]:
# 데이터 불러오기
import pandas as pd


df = pd.read_csv('data/df.csv')

In [84]:
df

              날짜 국적지역   입국자수
0     2022-01-01  그리스    390
1     2022-02-01  그리스    307
2     2022-03-01  그리스    418
3     2022-04-01  그리스    292
4     2022-05-01  그리스    425
...          ...  ...    ...
2838  2024-08-01   홍콩  61592
2839  2024-09-01   홍콩  39815
2840  2024-10-01   홍콩  52005
2841  2024-11-01   홍콩  46366
2842  2024-12-01   홍콩  58347

[2843 rows x 3 columns]

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2843 entries, 0 to 2842
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      2843 non-null   object
 1   국적지역    2843 non-null   object
 2   입국자수    2843 non-null   int64
dtypes: int64(1), object(2)
memory usage: 66.8+ KB

In [86]:
df['날짜'] = pd.to_datetime(df['날짜'])

In [87]:
# 날짜를 인덱스로 설정
df.set_index("날짜", inplace=True)

In [88]:
df

           국적지역   입국자수
날짜
2022-01-01  그리스    390
2022-02-01  그리스    307
2022-03-01  그리스    418
2022-04-01  그리스    292
2022-05-01  그리스    425
...         ...    ...
2024-08-01   홍콩  61592
2024-09-01   홍콩  39815
2024-10-01   홍콩  52005
2024-11-01   홍콩  46366
2024-12-01   홍콩  58347

[2843 rows x 2 columns]

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2843 entries, 2022-01-01 to 2024-12-01
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적지역    2843 non-null   object
 1   입국자수    2843 non-null   int64
dtypes: int64(1), object(1)
memory usage: 66.6+ KB

In [90]:
# 일본으로만 한번 해보기
target_country = "일본"
df_country = df[df['국적지역'] == target_country].copy()

In [91]:
df_country

           국적지역    입국자수
날짜
2022-01-01   일본    1516
2022-02-01   일본    3309
2022-03-01   일본    1697
2022-04-01   일본    2747
2022-05-01   일본    4382
2022-06-01   일본    6785
2022-07-01   일본   13069
2022-08-01   일본   28734
2022-09-01   일본   28836
2022-10-01   일본   68687
2022-11-01   일본   64005
2022-12-01   일본   85693
2023-01-01   일본   70071
2023-02-01   일본   96723
2023-03-01   일본  194327
2023-04-01   일본  130217
2023-05-01   일본  185770
2023-06-01   일본  198558
2023-07-01   일본  213960
2023-08-01   일본  267386
2023-09-01   일본  252324
2023-10-01   일본  257778
2023-11-01   일본  280566
2023-12-01   일본  197999
2024-01-01   일본  146878
2024-02-01   일본  187103
2024-03-01   일본  341258
2024-04-01   일본  231551
2024-05-01   일본  281078
2024-06-01   일본  260943
2024-07-01   일본  245667
2024-08-01   일본  327711
2024-09-01   일본  313618
2024-10-01   일본  326035
2024-11-01   일본  343826
2024-12-01   일본  253074

In [92]:
df_prophet = df_country[['입국자수']].reset_index()

In [93]:
df_prophet

           날짜    입국자수
0  2022-01-01    1516
1  2022-02-01    3309
2  2022-03-01    1697
3  2022-04-01    2747
4  2022-05-01    4382
5  2022-06-01    6785
6  2022-07-01   13069
7  2022-08-01   28734
8  2022-09-01   28836
9  2022-10-01   68687
10 2022-11-01   64005
11 2022-12-01   85693
12 2023-01-01   70071
13 2023-02-01   96723
14 2023-03-01  194327
15 2023-04-01  130217
16 2023-05-01  185770
17 2023-06-01  198558
18 2023-07-01  213960
19 2023-08-01  267386
20 2023-09-01  252324
21 2023-10-01  257778
22 2023-11-01  280566
23 2023-12-01  197999
24 2024-01-01  146878
25 2024-02-01  187103
26 2024-03-01  341258
27 2024-04-01  231551
28 2024-05-01  281078
29 2024-06-01  260943
30 2024-07-01  245667
31 2024-08-01  327711
32 2024-09-01  313618
33 2024-10-01  326035
34 2024-11-01  343826
35 2024-12-01  253074

In [94]:
df_prophet.columns = ['ds', 'y']  # Prophet 모델용 컬럼명 변경

In [95]:
df_prophet

           ds       y
0  2022-01-01    1516
1  2022-02-01    3309
2  2022-03-01    1697
3  2022-04-01    2747
4  2022-05-01    4382
5  2022-06-01    6785
6  2022-07-01   13069
7  2022-08-01   28734
8  2022-09-01   28836
9  2022-10-01   68687
10 2022-11-01   64005
11 2022-12-01   85693
12 2023-01-01   70071
13 2023-02-01   96723
14 2023-03-01  194327
15 2023-04-01  130217
16 2023-05-01  185770
17 2023-06-01  198558
18 2023-07-01  213960
19 2023-08-01  267386
20 2023-09-01  252324
21 2023-10-01  257778
22 2023-11-01  280566
23 2023-12-01  197999
24 2024-01-01  146878
25 2024-02-01  187103
26 2024-03-01  341258
27 2024-04-01  231551
28 2024-05-01  281078
29 2024-06-01  260943
30 2024-07-01  245667
31 2024-08-01  327711
32 2024-09-01  313618
33 2024-10-01  326035
34 2024-11-01  343826
35 2024-12-01  253074

In [96]:
# Prophet 모델 학습
from prophet import Prophet

prophet_model =  Prophet(
    yearly_seasonality=True,    # 연도별 계절성 반영
    weekly_seasonality=False,   # 주별 계절성 제거
    daily_seasonality=False,    # 일별 계절성 제거
    seasonality_mode="multiplicative"  # 계절성을 곱셈 방식으로 적용 (트렌드 반영 강화)
)
prophet_model.fit(df_prophet)

21:25:38 - cmdstanpy - INFO - Chain [1] start processing
21:25:38 - cmdstanpy - INFO - Chain [1] done processing

In [97]:
# 예측할 기간 생성
future = prophet_model.make_future_dataframe(periods=25, freq='M')
forescast = prophet_model.predict(future)

/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(

In [98]:
forescast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yearly,yearly_lower,yearly_upper,additive_terms,additive_terms_lower,additive_terms_upper,yhat
0,2022-01-01,-42919.455754,-43978.437646,-2002.572887,-42919.455754,-42919.455754,-0.439309,-0.439309,-0.439309,-0.439309,-0.439309,-0.439309,0.0,0.0,0.0,-24064.543982
1,2022-02-01,-29587.991628,-42092.683246,-3082.778913,-29587.991628,-29587.991628,-0.248581,-0.248581,-0.248581,-0.248581,-0.248581,-0.248581,0.0,0.0,0.0,-22232.973136
2,2022-03-01,-17546.669190,-44275.722866,-1407.526082,-17546.669190,-17546.669190,0.373047,0.373047,0.373047,0.373047,0.373047,0.373047,0.0,0.0,0.0,-24092.393144
3,2022-04-01,-4215.205062,-23854.162894,16774.251950,-4215.205062,-4215.205062,-0.150915,-0.150915,-0.150915,-0.150915,-0.150915,-0.150915,0.0,0.0,0.0,-3579.068299
4,2022-05-01,8686.211838,-12036.016726,31542.971002,8686.211838,8686.211838,0.073640,0.073640,0.073640,0.073640,0.073640,0.073640,0.0,0.0,0.0,9325.860374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2026-08-31,440283.109126,418987.410159,480600.193333,420001.819292,462453.778513,0.022297,0.022297,0.022297,0.022297,0.022297,0.022297,0.0,0.0,0.0,450100.217411
57,2026-09-30,446545.037933,445677.695577,514733.682637,424600.998598,470467.759052,0.070280,0.070280,0.070280,0.070280,0.070280,0.070280,0.0,0.0,0.0,477928.431324
58,2026-10-31,453015.697701,486856.106036,562648.942267,429883.823210,478636.254213,0.160030,0.160030,0.160030,0.160030,0.160030,0.160030,0.0,0.0,0.0,525511.688366
59,2026-11-30,459277.626509,353089.338781,414001.092585,434191.373869,486022.472421,-0.165928,-0.165928,-0.165928,-0.165928,-0.165928,-0.165928,0.0,0.0,0.0,383070.676491
60,2026-12-31,465748.286277,283273.700750,339004.805724,439410.078963,493930.481751,-0.336115,-0.336115,-0.336115,-0.336115,-0.336115,-0.336115,0.0,0.0,0.0,309203.183257

In [99]:
# 모든 나라 예측
all_forecasts = []

In [100]:
countries = df['국적지역'].unique()

In [101]:
countries

array(['그리스', '나이지리아', '남아프리카공화국', '네덜란드', '네팔', '노르웨이', '뉴질랜드', '대만',
       '덴마크', '독일', '라오스', '라트비아', '러시아', '루마니아', '리투아니아', '마카오', '말레이시아',
       '멕시코', '모로코', '몽골', '미국', '미얀마', '방글라데시', '베트남', '벨기에', '불가리아',
       '브라질', '브루나이', '사우디아라비아', '스리랑카', '스웨덴', '스위스', '스페인', '슬로바키아',
       '시리아', '싱가포르', '아랍에미리트연합', '아르헨티나', '아일랜드', '에콰도르', '에티오피아', '영국',
       '오스트레일리아', '오스트리아', '요르단', '우즈베키스탄', '우크라이나', '유고슬라비아', '이란',
       '이스라엘', '이집트', '이탈리아', '인도', '인도네시아', '일본', '중국', '체코공화국', '총계',
       '칠레', '카자흐스탄', '캄보디아', '캐나다', '케냐', '콜롬비아', '쿠웨이트', '크로아티아',
       '키르기즈', '타지키스탄', '태국', '튀니지', '튀르키예', '파키스탄', '페루', '포르투갈', '폴란드',
       '프랑스', '핀란드', '필리핀', '헝가리', '홍콩'], dtype=object)

In [102]:
df.reset_index(inplace=True)

In [103]:
df.isna().sum()

날짜      0
국적지역    0
입국자수    0
dtype: int64

In [104]:
df

             날짜 국적지역   입국자수
0    2022-01-01  그리스    390
1    2022-02-01  그리스    307
2    2022-03-01  그리스    418
3    2022-04-01  그리스    292
4    2022-05-01  그리스    425
...         ...  ...    ...
2838 2024-08-01   홍콩  61592
2839 2024-09-01   홍콩  39815
2840 2024-10-01   홍콩  52005
2841 2024-11-01   홍콩  46366
2842 2024-12-01   홍콩  58347

[2843 rows x 3 columns]

In [105]:
# 학습 데이터의 가장 최근 날짜 찾기
latest_date = df["날짜"].max()
# 각 국가별로 Prophet 모델 학습 및 예측
for country in countries:
    # 국가별 데이터 필터링
    df_country = df[df["국적지역"] == country][["날짜", "입국자수"]].rename(columns={"날짜": "ds", "입국자수": "y"})

    # 날짜 형식 변환
    df_country["ds"] = pd.to_datetime(df_country["ds"])

    # 데이터 개수가 너무 적으면 스킵
    if df_country.shape[0] < 2:
        print(f"⚠️ {country}: 데이터 부족으로 예측 불가")
        continue

    # Prophet 모델 초기화 및 학습
    model = Prophet(yearly_seasonality=True, weekly_seasonality=False, daily_seasonality=False)
    model.fit(df_country)

    # 향후 24개월 예측
    future = model.make_future_dataframe(periods=24, freq="M")
    forecast = model.predict(future)

    # 미래 데이터만 선택 (과거 데이터 제거)
    forecast = forecast[forecast["ds"] > latest_date]

    # 국가명 컬럼을 개별 행에 추가
    forecast["국적지역"] = [country] * len(forecast)

    # 필요한 컬럼만 선택
    forecast = forecast[["국적지역", "ds", "yhat", "yhat_lower", "yhat_upper"]]

    # 리스트에 추가
    all_forecasts.append(forecast)

# 모든 국가의 예측 결과를 하나의 데이터프레임으로 결합
final_forecast_df = pd.concat(all_forecasts, ignore_index=True)

# 결과 확인
print(final_forecast_df.head())

21:25:39 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:40 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:40 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:41 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:41 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:42 - cmdstanpy - INFO - Chain [1] start processing
21:25:42 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:43 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:43 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:44 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:44 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:45 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
21:25:45 - cmdstanpy - INFO - Chain [1] start processing
21:25:46 - cmdstanpy - INFO - Chain [1] done processing
/opt/anaconda3/envs/hi/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(

  국적지역         ds         yhat   yhat_lower   yhat_upper
0  그리스 2024-12-31   807.911177   682.540438   940.595230
1  그리스 2025-01-31   979.619768   858.487158  1111.505717
2  그리스 2025-02-28  1143.278503  1013.252658  1267.073651
3  그리스 2025-03-31  1268.670436  1136.227336  1398.927658
4  그리스 2025-04-30  1029.860272   907.159778  1160.874401

In [106]:
# 모든 국가의 예측 결과를 하나의 데이터프레임으로 결합
final_forecast_df = pd.concat(all_forecasts, ignore_index=True)

In [107]:
final_forecast_df

     국적지역         ds           yhat     yhat_lower     yhat_upper
0     그리스 2024-12-31     807.911177     682.540438     940.595230
1     그리스 2025-01-31     979.619768     858.487158    1111.505717
2     그리스 2025-02-28    1143.278503    1013.252658    1267.073651
3     그리스 2025-03-31    1268.670436    1136.227336    1398.927658
4     그리스 2025-04-30    1029.860272     907.159778    1160.874401
...   ...        ...            ...            ...            ...
1913   홍콩 2026-07-31   92514.585006   86571.359147   98263.117153
1914   홍콩 2026-08-31   99970.163923   94204.465780  106623.205396
1915   홍콩 2026-09-30  109266.901931  102549.848564  115486.231750
1916   홍콩 2026-10-31  117038.022454  111024.655102  123167.584295
1917   홍콩 2026-11-30  120986.790295  114877.378741  127164.716316

[1918 rows x 5 columns]

In [108]:
final_forecast_df['국적지역'].unique()

array(['그리스', '나이지리아', '남아프리카공화국', '네덜란드', '네팔', '노르웨이', '뉴질랜드', '대만',
       '덴마크', '독일', '라오스', '라트비아', '러시아', '루마니아', '리투아니아', '마카오', '말레이시아',
       '멕시코', '모로코', '몽골', '미국', '미얀마', '방글라데시', '베트남', '벨기에', '불가리아',
       '브라질', '브루나이', '사우디아라비아', '스리랑카', '스웨덴', '스위스', '스페인', '슬로바키아',
       '시리아', '싱가포르', '아랍에미리트연합', '아르헨티나', '아일랜드', '에콰도르', '에티오피아', '영국',
       '오스트레일리아', '오스트리아', '요르단', '우즈베키스탄', '우크라이나', '유고슬라비아', '이란',
       '이스라엘', '이집트', '이탈리아', '인도', '인도네시아', '일본', '중국', '체코공화국', '총계',
       '칠레', '카자흐스탄', '캄보디아', '캐나다', '케냐', '콜롬비아', '쿠웨이트', '크로아티아',
       '키르기즈', '타지키스탄', '태국', '튀니지', '튀르키예', '파키스탄', '페루', '포르투갈', '폴란드',
       '프랑스', '핀란드', '필리핀', '헝가리', '홍콩'], dtype=object)

In [109]:
final_forecast_df[final_forecast_df['국적지역']=='미국']

    국적지역         ds           yhat     yhat_lower     yhat_upper
480   미국 2024-12-31   96326.202517   84800.712498  106630.126299
481   미국 2025-01-31  106954.145159   95735.209915  118952.637435
482   미국 2025-02-28  149027.779665  138356.260099  160377.078528
483   미국 2025-03-31  170778.238487  160193.736635  181939.377563
484   미국 2025-04-30  156936.189608  145703.074583  168083.327395
485   미국 2025-05-31  160744.439883  149310.014616  171824.302437
486   미국 2025-06-30  160637.683282  149461.418795  171749.051674
487   미국 2025-07-31  142616.467860  132242.796092  153827.634411
488   미국 2025-08-31  156251.274437  144746.972350  167459.756147
489   미국 2025-09-30  164653.398764  153695.141532  175526.228782
490   미국 2025-10-31  166230.195183  154981.205825  176912.797337
491   미국 2025-11-30  158262.885981  147181.150693  170191.857960
492   미국 2025-12-31  114277.877903  103347.229647  124902.236386
493   미국 2026-01-31  130876.369985  120124.649327  142208.009071
494   미국 2026-02-28  177193.693692  165373.984891  188576.827775
495   미국 2026-03-31  202094.632689  190732.066177  213626.686079
496   미국 2026-04-30  183646.747264  171487.927989  195682.310406
497   미국 2026-05-31  182586.253516  170500.514241  194209.193495
498   미국 2026-06-30  187461.061671  175926.880602  199508.228037
499   미국 2026-07-31  168503.141743  156232.530328  180608.572136
500   미국 2026-08-31  183712.598464  171617.680796  195970.880345
501   미국 2026-09-30  188295.486689  174907.375813  200072.786520
502   미국 2026-10-31  197100.485048  183015.840448  209248.621871
503   미국 2026-11-30  189484.729907  176330.505885  202217.033418

In [110]:
#final_forecast_df를 정수형으로 만들기
final_forecast_df['yhat'] = final_forecast_df['yhat'].astype(int)

In [111]:
final_forecast_df

     국적지역         ds    yhat     yhat_lower     yhat_upper
0     그리스 2024-12-31     807     682.540438     940.595230
1     그리스 2025-01-31     979     858.487158    1111.505717
2     그리스 2025-02-28    1143    1013.252658    1267.073651
3     그리스 2025-03-31    1268    1136.227336    1398.927658
4     그리스 2025-04-30    1029     907.159778    1160.874401
...   ...        ...     ...            ...            ...
1913   홍콩 2026-07-31   92514   86571.359147   98263.117153
1914   홍콩 2026-08-31   99970   94204.465780  106623.205396
1915   홍콩 2026-09-30  109266  102549.848564  115486.231750
1916   홍콩 2026-10-31  117038  111024.655102  123167.584295
1917   홍콩 2026-11-30  120986  114877.378741  127164.716316

[1918 rows x 5 columns]

In [112]:
#국적지역, ds를 방문년월로 (yyyy-mm-dd -> yyyymm+1), yhat을 입국자수로 변경하여 저장
final_forecast_df["방문년월"] = pd.to_datetime(final_forecast_df["ds"])
final_forecast_df["방문년월"] = final_forecast_df["방문년월"].apply(lambda x: 
    str((x.year + 1) * 100 + 1) if x.month == 12 else str(x.year * 100 + x.month + 1)
)



final_forecast_df = final_forecast_df[["국적지역", "방문년월", "yhat"]]
final_forecast_df.rename(columns={"yhat": "입국자수"}, inplace=True)

/var/folders/wz/cf10k4857715p70flsxw2g9m0000gn/T/ipykernel_64723/1431108815.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_forecast_df.rename(columns={"yhat": "입국자수"}, inplace=True)

In [113]:
final_forecast_df

     국적지역    방문년월    입국자수
0     그리스  202501     807
1     그리스  202502     979
2     그리스  202503    1143
3     그리스  202504    1268
4     그리스  202505    1029
...   ...     ...     ...
1913   홍콩  202608   92514
1914   홍콩  202609   99970
1915   홍콩  202610  109266
1916   홍콩  202611  117038
1917   홍콩  202612  120986

[1918 rows x 3 columns]

In [114]:
final_forecast_df.to_csv('data/prophet_df.csv', index=False)